body{
    width: 100%;
    height: 100%;
    background-image:url(jewellery-wallpaper-1600x900.jpg);
}
header{
    background-color: white;
}
#nav .li{
    display: inline-block;
    list-style: none;
    color: black;

}
nav{
    margin-top: 0px;
    position: relative;
    top:0;
    height: 10px;

}
main{
    background-image:url(jewellery-wallpaper-1600x900.jpg);
}
#footer{
    background-color: white;
}
