body {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 700px;
    position: relative;
    font-family: 'Poiret One', cursive;
    background-color: rgba(255, 255, 255, 0.61);
    vertical-align: baseline;
}
header {
    display: inline-block;
    width: 70%;
    height: 70px;
    margin-left: 15%;
    margin-right: 15%;
    background-image: url(images/photodune-4906273-silhouette-group-of-happy-children-playing-on-meadow-sunset-summertime-m1.jpg);
    align-content: right;
    border-radius: 7px;
}
#nav {
    display: inline-block;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    position: relative;
    align-content: right;
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 7px;
}
#nav a {
    border: 20px;
    margin-top: 60px;
    top: 30px;
    color: white;
    text-decoration: none;
    cursor: auto;
    margin-left: 10px;
    margin-right: 10px
}
#main {
    display: block;
    background-image: url(images/photodune-4906273-silhouette-group-of-happy-children-playing-on-meadow-sunset-summertime-m1.jpg);
    width: 70%;
    height: 700px;
    margin-right: 15%;
    margin-left: 15%;
    color: rgb(172, 0, 0);
    text-align: justify;
    border-radius: 7px;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

}
#container {
    display: block;
    width 70%;
    margin-right: 15%;
    margin-left: 15%;
    background-image: url(images/photodune-4906273-silhouette-group-of-happy-children-playing-on-meadow-sunset-summertime-m1.jpg);
}
h1 {
    text-align: center;
    font-size: 40px;
}
table {
    background-image: url(images/photodune-4906273-silhouette-group-of-happy-children-playing-on-meadow-sunset-summertime-m1.jpg);
    width: 70%;
    margin-top: 40px;
    margin-left: 15%;
    margin-left: 15%;
    display: block;
    border-spacing: 28px;
    table-layout: fixed;
    border-radius: 5px;
}
th {
    text-align: center;
}
footer {
    display: inline-block;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    background-image: url(images/photodune-4906273-silhouette-group-of-happy-children-playing-on-meadow-sunset-summertime-m1.jpg);
    text-align: center;
}
i {
    display: inline-block;
    float: left;
}
